@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --main-font: "Roboto", sans-serif;
    --main-backgrounfcolor: black;
    --secondarycolor: #313131;
    --second-font : "Montserrat";
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family:var(--main-font) ;
    background-color: var(--main-backgrounfcolor);
}

.header-main{
    @apply
    text-white 
    flex 
    items-center 
    justify-center 
}

.header-content{
  @apply
    flex
    items-center
    gap-3
    border-2
    rounded-3xl
    p-3 
    m-3
    text-sm
}


@media (min-width: 640px){
  .header-content{
    @apply gap-10 text-lg
  }
}

@media (min-width: 768px){
  .header-content{
    @apply gap-14 text-lg
    }

}

@media (min-width: 1024px){
  .header-content{
    @apply gap-14 text-lg
    }

}

@media (min-width: 1280px) {
  .header-content{
    @apply gap-16 text-lg
    }
  
}

@media (min-width: 1536px){
  .header-content{
   @apply gap-20 text-xl
    }

}


.schedul-button{
  @apply
  bg-yellow-500 text-black px-1 py-2 rounded-lg hover:bg-yellow-600 

}


@screen sm {
    .schedul-button{
      @apply bg-yellow-500 text-black px-4 py-2 rounded-lg hover:bg-yellow-600

    }
  }
  
@screen md {
    .schedul-button {
      @apply bg-yellow-500 text-black px-4 py-2 rounded-lg hover:bg-yellow-600
  }
}
  
@screen lg {
    .schedul-button {
      @apply
      bg-yellow-500 text-black px-4 py-2 rounded-lg hover:bg-yellow-600
    }
}
  
  @screen xl {
    .schedul-button {
      @apply bg-yellow-500 text-black px-4 py-2 rounded-lg hover:bg-yellow-600
    }
}

.footer-main{
  @apply text-white
   p-20
   flex
   flex-col
   items-center 
   justify-center
    text-sm
}

.footer-content{
  @apply flex
  flex-col
   items-center 
   space-x-1
   gap-5
}

@screen sm {
  .footer-content{
    @apply 
    flex
    flex-col
    items-center 
    space-x-0

  }
}

@screen md {
  .footer-content {
    @apply 
    flex
    flex-col
    items-center 
    space-x-1
}
}

@screen lg {
  .footer-content {
    @apply
    flex
    flex-row
   items-center 
   space-x-4
  }
}

@screen xl {
  .footer-content {
    @apply 
    flex
    flex-row
    items-center 
    space-x-14
  }
}

.Render{
  @apply
  font-bold text-4xl
  p-0
}
.GFX{
  @apply
  text-4xl
}


@screen sm {
  .Render{
    @apply 
    font-bold text-4xl

  }
}

@screen md {
   .Render{
    @apply 
    font-bold text-4xl
}
}

@screen lg {
   .Render{
    @apply
    font-bold text-3xl
  }
}

@screen xl {
   .Render{
    @apply 
    font-bold text-4xl
  }
}

@screen sm {
  .GFX{
    @apply 
    text-4xl
  }
}

@screen md {
  .GFX{
    @apply 
    text-4xl
}
}

@screen lg {
  .GFX{
    @apply
    text-3xl
  }
}

@screen xl {
  .GFX{
    @apply 
    text-4xl
  }
}

.mail-text{
  @apply
  text-white
  hover:text-gray-400
  text-sm
}

.Logo{
  @apply
  flex
  items-center 
  space-x-1
  gap-5
}

.Logo-content{
  @apply
    flex
    items-center 
    space-x-1
    gap-5
}

.Logo-text{
  display: none;
}
@media (min-width: 640px){
  .Logo-text{
  display: none;
  }
}

@media (min-width: 768px){
  .Logo-text{
    display: none;
    }

}

@media (min-width: 1024px){
  .Logo-text{
    display: block;
    }

}

@media (min-width: 1280px) {
  .Logo-text{
    display: block;
    }
  
}

@media (min-width: 1536px){
  .Logo-text{
    display:block;
    }
}


.footer-copyright {
  display: flex;
  margin-top: 2rem; /* m-8 */
  text-align: center; /* Center text for smaller screens */
  flex-direction: column;
}

/* Apply this rule for larger screens */
@media (min-width: 640px) {
  .footer-copyright {
    flex-direction: row;
    justify-content: center;
  }

  .RR-text {
    margin-left: 0.5rem; /* Add some space between the two spans */
  }
}


.video{
  @apply
  flex
  justify-center
}

.video-display{
  @apply rounded-xl w-10/12  shadow mx-2 my-2 border-2 border-solid
}


@media (min-width: 640px){
  .video-display{
  @apply w-2/3
  }
}

@media (min-width: 768px){
  .video-display{
  @apply w-2/3
    }

}

@media (min-width: 1024px){
  .video-display{
  @apply w-2/3
    }

}

@media (min-width: 1280px) {
  .video-display{
  @apply w-2/3
    }
  
}

@media (min-width: 1536px){
  .video-display{
    @apply w-2/3
    }

}


.button-hero{
  @apply
  flex
  justify-center
  gap-1
  
}

.book-now-button{
  @apply 
  bg-orange-500
  px-3
  py-1.5
  m-5
  text-lg
  text-white
  font-medium
}

.our-work-button{
  @apply 
  bg-white
  px-3
  py-1.5
  m-5
  text-lg
  text-black
  font-medium
}

@media (min-width: 640px){
  .button-hero{
    gap: 4rem;
  }
}

@media (min-width: 768px){
  .button-hero{
    gap: 4rem;
    }

}

@media (min-width: 1024px){
  .button-hero{
    gap: 4rem;
    }

}

@media (min-width: 1280px) {
  .button-hero{
    gap: 8rem;
    }
  
}

@media (min-width: 1536px){
  .button-hero{
    gap: 10rem;
    }

}





@media (min-width: 640px){
  .book-now-button,.our-work-button{
    @apply text-lg  px-4 py-2
  }
}

@media (min-width: 768px){
  .book-now-button,.our-work-button{
    @apply text-xl  px-4 py-2
  }

}

@media (min-width: 1024px){
  .book-now-button,.our-work-button{
    @apply text-xl  px-4 py-2
  }

}

@media (min-width: 1280px) {
  .book-now-button,.our-work-button{
    @apply text-2xl  px-4 py-2
  }
  
}

@media (min-width: 1536px){
  .book-now-button,.our-work-button{
    @apply text-2xl px-4 py-2
  }

}

.review-main{
  @apply
  flex-row
  text-white
  bg-neutral-950
   mt-10
}

.review-content-one{
  @apply
  flex
  justify-center
  bg-neutral-950
}

.review-top-conatiner{
  @apply
  flex
  justify-center
  p-5
  mt-3  
  bg-neutral-950
}

.review-image-top{
  @apply
  flex
  gap-1
  bg-neutral-950
  rounded-full

}

.review-top-content{
  @apply
  flex-col
  ml-2
  bg-neutral-950
}

.user-image{
  @apply size-10
}


@media (min-width: 640px){
  .user-image{
    @apply size-14
  }
}

@media (min-width: 768px){
  .user-image{
    @apply size-14
    }

}

@media (min-width: 1024px){
  .user-image{
    @apply size-16
    }

}

@media (min-width: 1280px) {
  .user-image{
    @apply size-16
    }
  
}

@media (min-width: 1536px){
  .user-image{
    gap: 10rem;
    }

}


.review-stars{
  @apply
  flex
  gap-1
  bg-neutral-950
}

.start-review{
  @apply size-5
}

@media (min-width: 640px){
  .start-review{
    @apply size-6
  }
}

@media (min-width: 768px){
  .start-review{
    @apply size-8
    }

}

@media (min-width: 1024px){
  .start-review{
    @apply size-8
    }

}

@media (min-width: 1280px) {
  .start-review{
    @apply size-10
    }
  
}

@media (min-width: 1536px){
  .start-review{
    @apply size-10
    }

}



.review-text{
  @apply
  bg-neutral-950
  text-xs
}

@media (min-width: 640px){
  .review-top-content{
    @apply ml-12
  }
}

@media (min-width: 768px){
  .review-top-content{
    @apply ml-10
    }

}

@media (min-width: 1024px){
  .review-top-content{
    @apply ml-10
    }

}

@media (min-width: 1280px) {
  .review-top-content{
    @apply ml-10
    }
  
}

@media (min-width: 1536px){
  .review-top-content{
    @apply ml-12
    }

}


@media (min-width: 640px){
  .review-text{
    @apply text-lg
  }
}

@media (min-width: 768px){
  .review-text{
    @apply text-lg
    }

}

@media (min-width: 1024px){
  .review-text{
    @apply text-xl
    }

}

@media (min-width: 1280px) {
  .review-text{
    @apply text-xl
    }
  
}

@media (min-width: 1536px){
  .review-text{
    @apply text-2xl
    }

}


.review-content-two {
  @apply overflow-hidden bg-neutral-950 mt-5;
}

.review-marquee {
  @apply flex items-center gap-10 bg-neutral-950;
  display: flex;
  animation: scroll 10s linear infinite;
}

.review-image {
  @apply w-16 h-auto rounded-full;
}

@screen sm {
  .review-image{
    @apply 
    w-16 h-auto rounded-full;
  }
}

@screen md {
  .review-image {
    @apply 
    w-20 h-auto rounded-full;
}
}

@screen lg {
  .review-image {
    @apply
    w-20 h-auto rounded-full;

  }
}

@screen xl {
  .review-image{
    @apply 
    w-24 h-auto rounded-full;
  }
}


@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.pw-main {
  @apply flex flex-col text-white justify-center items-center bg-neutral-950;
}

.pw-header {
  @apply flex mt-20;
}

.popular-work-text{
  @apply text-3xl bg-neutral-950 font-medium
}



@media (min-width: 640px){
  .popular-work-text{
    @apply text-5xl  font-medium
  }
}

@media (min-width: 768px){
  .popular-work-text{
    @apply text-4xl font-medium
  }

}

@media (min-width: 1024px){
  .popular-work-text{
    @apply text-5xl font-medium
  }

}

@media (min-width: 1280px) {
  .popular-work-text{
    @apply text-5xl font-medium 
  }
  
}

@media (min-width: 1536px){
  .popular-work-text{
    @apply text-5xl font-medium 
  }

}

.card-grid {
  @apply grid grid-cols-1 md:grid-cols-3  mt-10 bg-neutral-950 ;
}

.video-box {
  @apply flex flex-col items-center text-center bg-neutral-950 ;
}

.video-cards{
  @apply w-3/4 shadow m-0  bg-neutral-950 rounded-lg;
}

.name {
  @apply flex-row mt-4  bg-transparent relative;
}

.yt-name{
  @apply  text-2xl bg-transparent absolute bottom-24 right-28  ;
}

.sub-view-text {
  @apply flex justify-center gap-1 mt-1 text-white bg-transparent  relative bottom-16 right-8 ;
}

.subs, .views {
  @apply flex text-xs bg-transparent border-2 p-1.5 rounded-3xl ;
}

.shortvideo-container {
  @apply flex flex-col items-center justify-center mt-10 bg-neutral-950 ;
}

.shortvideo-header {
  @apply bg-transparent text-white  font-bold tracking-normal absolute w-full text-center bg-neutral-950  ;
  bottom: 33.95rem;
  font-size: 3rem;
  line-height: 1;
  font-family: var(--second-font) 
}
.short-text{
  @apply ml-4 bg-neutral-950;
}

.video-grid {
  display: flex;
  flex-direction: column;
  grid-template-columns: 10rem;
  @apply flex-col mt-10 gap-x-10 gap-y-10 bg-neutral-950 relative ; 
}
.video-display-short {
  @apply  rounded-xl  ;
  height: 16rem;
  width: 9.5rem;
}

.text-stroke {
  -webkit-text-stroke: 0.3px #ffffff; /* Adjust stroke size and color */
  text-stroke: 0.3px #ffffff;         /* Adjust stroke size and color */
  color: transparent;            /* Make the fill color transparent */
}

.video-grid-part-one{
  @apply flex gap-10 bg-neutral-950 
}

.video-grid-part-two{ 
  @apply flex gap-10 bg-neutral-950 
}


@media (min-width: 640px){

  .video-grid {
    display: flex;
    flex-direction: column;
    grid-template-columns: 10rem
  }

  .video-display-short {
    @apply  rounded-3xl;
    height: 24rem;
    width: 16rem;
  }
  .shortvideo-header {
    @apply text-7xl font-bold tracking-normal absolute w-full text-center bg-neutral-950;
    bottom: 49.5rem;
    font-family: var(--second-font) 
  }

  .short-text{
    @apply ml-10 bg-neutral-950;
  }


}

@media (min-width: 768px){
  .video-grid {
    display: flex;
    flex-direction: column;
    grid-template-columns: 10rem
  }

  .video-display-short {
    @apply  rounded-3xl ;
    height: 24rem;
    width: 18rem;
  }
  .shortvideo-header {
    @apply text-7xl font-bold tracking-normal absolute w-full text-center bg-neutral-950;
    bottom: 49.5rem;
    font-family: var(--second-font) 
  }
  
  .short-text{
    @apply ml-10 bg-neutral-950;
  }
}

@media (min-width: 1024px){

  
  .video-grid {
    display: flex;
    flex-direction: row;
  }

  .video-display-short {
    @apply h-96 w-56 rounded-xl  ;
  }

  .shortvideo-header {
    @apply text-6xl font-bold tracking-normal absolute w-full text-center bg-neutral-950;
    bottom: 23.10rem;
    font-family: var(--second-font) 
  }

  .short-text{
    @apply ml-10 bg-neutral-950;
  }
}

@media (min-width: 1280px) {

  .video-grid {
    display: flex;
    flex-direction: row;
  }

  .video-display-short {
    @apply h-96 w-64 rounded-xl  ;
  }  

  .shortvideo-header {
    @apply text-7xl font-bold tracking-normal absolute w-full text-center bg-neutral-950;
    bottom: 22.95rem;
    font-family: var(--second-font) 
  }

  .short-text{
    @apply ml-10 bg-neutral-950;
  }
}

@media (min-width: 1536px){

  .video-grid {
    display: flex;
    flex-direction: row;
  }
  .video-display-short {
    @apply h-96 w-64 rounded-xl  ;
  }
  
  .shortvideo-header {
    @apply text-7xl font-bold tracking-normal absolute w-full text-center bg-neutral-950;
    bottom: 22.95rem;
    font-family: var(--second-font) 
  }

  .short-text{
    @apply ml-10 bg-neutral-950;
  }
  
} 